*{box-sizing: border-box;}

body {
    line-height:1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(238, 238, 238, 0.76);
    margin:0;
    overflow:hidden;
}

.header {
    display:flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-between;
    background: rgb(69, 108, 153);
    padding-bottom:10px;
    padding-top:30px;
    text-align: center;
}

.header h3 {
    font-size: 40px;
    color: goldenrod;
    margin-top: 5px;
    margin-bottom:0px;
}

.header p {
    font-size: 25px;
    color: white;
    margin-top: 5px;
    margin-bottom:0px;
}

.header .leftbox {
    flex: 90%;
    padding-left: 10px;
}

.header .rightbox {
    flex:10%;
    text-align: right;
    margin-right:15px;
    margin-top:30px;
    margin-bottom:0px;
}

.navbar {
    display:flex;
    color:white;
    justify-content: flex-end;
    background-color: rgb(29, 64, 105);
    padding:2px;
}


button {
    background-color: rgba(15, 58, 179, 0.753);
    border: 2px solid rgb(30, 50, 161);
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.navbar button {
    background-color: rbga(0,0,0,0);
    border-color: goldenrod;
    margin-left:5px;
}

.sidebar {
    flex: 20%;
    flex-direction: column;
    border-right: 1px solid black;
    display:flex;
    padding: 10px;
    background-color: rgba(128, 165, 245, 0.733);
}

.sidebar button {
    margin: 4px 2px;
    width:100%;
}
.sidebar ul li {
    margin-top: 10px;
}

.main{
    display:flex;
    height:85vh;
}
.mainbody {
    flex: 90%;
    background-color: rgba(190, 197, 216, 0.459);
    overflow: auto;
}

fieldset { 
    display: inline-block;
    margin-left: 30px;
    margin-right: 30 px;
    background-color: rgba(151, 151, 175, 0.233);
    border:1px solid rgb(83, 71, 116);
    border-radius: 8px;
    padding: 10px;
}
fieldset legend {
    padding-top: 10px;
    padding-bottom: 25px;
    margin-left: -5px;
    font-size: 20px;
    font-weight: bold;
}

fieldset form  { 
    display: table;
}

form p { 
    display: table-row;
    border-bottom: 2px dotted #999;
}

form label { 
    display: table-cell; 
    padding-bottom: 20px;
    padding-right:20px;
}

form input { 
    display: table-cell;
    margin-bottom: 10px;
    margin-right: 10px;
    width:300px; 
}

input[type=number] {
  width:75px;
  font-size:25px;
  padding:5px;
}

article {
    border-bottom: 2px dotted #999;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 35px;
    margin-right: 35px;
}
article > h3 {  
    border-width: 5px;
    margin-bottom: 3px;
    background-color: rgba(151, 151, 175, 0.411);
}

table, td {
    border-bottom: 1px solid black;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    border-collapse: collapse;
    text-align:center;
    min-width: 100px;
}

table {
    border: 2px solid black;
}   

th {
    background-color: midnightblue;
    color: white;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.name {
    border-right: 1px solid black;
    font-size: 110%;
}

tr:nth-child(even) {
    background-color: #4e567a38;
}