html {
    width: 6in;
}

body {
    width: 6in;
    font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Linux Biolinum O', 'URW Geometric', Futura, 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.62em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-style: oblique;
}

h4 {
    font-size: 1em;
    font-style: oblique;
}

body {
    font-family: 'Linux Libertine O', 'Georgia', 'Times New Roman', serif;
}